vti_encoding:SR|utf8-nl
vti_author:SR|sony-VAIO\\sony
vti_modifiedby:SR|sony-VAIO\\sony
vti_timelastmodified:TR|25 Dec 2012 07:52:56 -0000
vti_timecreated:TR|09 Dec 2012 09:11:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|styles/style2.css styles/style3.css styles/style1.css
vti_nexttolasttimemodified:TW|25 Dec 2012 07:52:35 -0000
vti_cacheddtm:TX|25 Dec 2012 07:52:56 -0000
vti_filesize:IR|981
