vti_encoding:SR|utf8-nl
vti_author:SR|sony-VAIO\\sony
vti_modifiedby:SR|sony-VAIO\\sony
vti_timelastmodified:TR|05 Jan 2013 13:09:49 -0000
vti_timecreated:TR|09 Dec 2012 09:11:56 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|master.dwt photo_gallery/default.html contact/Thanks.html services/default.html news/default.html calendar/default.html about/default.html default.html contact/default.html inquiry/Thanks.htm
vti_nexttolasttimemodified:TW|05 Jan 2013 13:08:37 -0000
vti_cacheddtm:TX|05 Jan 2013 13:09:49 -0000
vti_filesize:IR|3160
vti_cachedlinkinfo:VX|Q|layout.css
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css
